html, body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

#wrapper {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

table {
	width: 100%;
	text-align: left;
	background-color: #000;
}

th {
	background-color: #165a97;
	color: #fff;
	font-size: 24px;
}

td {
	font-size: 28px;
	height: 40px;
	padding-left: 10px;
	padding-top: 15px;
}

table th:nth-child(1) {position: fixed; width: 15%; height: 30px; top: 80px; left: 0%;}
table th:nth-child(2) {position: fixed; width: 10%; height: 30px; top: 80px; left: 15%;}
table th:nth-child(3) {position: fixed; width: 15%; height: 30px; top: 80px; left: 25%;}
table th:nth-child(4) {position: fixed; width: 15%; height: 30px; top: 80px; left: 40%;}
table th:nth-child(5) {position: fixed; width: 45%; height: 30px; top: 80px; left: 55%;}

table tr:nth-child(even) {
	background-color: #ebebeb;
	border-color: #ebebeb;
	
}

table tr:nth-child(odd) {
	background-color: #3b8dbd;
	border-color: #3b8dbd;
}

marquee {
	margin-top: 10px;
}

#container {
	width: 90%;
	height: 81%;
	margin: 0 auto;
	font-family: "Calibri",sans-serif;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 0px;
	padding-top: 5px;
	background: #33363b;
	height: 75px;
	z-index: 1;
}

.header .text {
	width: 90%;
	margin: 0 auto;
}

h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	letter-spacing: -0.5px;
	font-family: "Arial",sans-serif;
}


.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #33363b;
	height: 45px;
	font-family: "Arial",sans-serif;
	font-size: 25px;
	font-weight: 400;
	color:#FFF;
	z-index: 1;
}

.content {
	position: absolute;
	top: 130px;
	left: 0px;
	right: 0px;
	padding-bottom: 45px;
	z-index: 0;
}

#date {
    display: inline;
}